body{background-image:url(download\ \(1\).jpeg);background-repeat: no-repeat;background-size: 100%;}
.secao-1{display: flex;font-size: 24px;
}
 .imagemlegal{ width: 50%;
}
.secao-2{display: flex; font-size: 24px}
.imagemlegaldemasi{width: 30%;}